<%- include('../partials/header') %>

<h1>goodWines</h1>

 <table>
   <thead>
     <tr>
       <th>Brand</th>
       <th>Type</th>
       <th>Alcohol By Volume</th>
       <th>Variety</th>
       <th>Year</th>
       <th>Information</th>
     </tr>
   </thead>
   <tbody>
    <% wines.forEach(function(wine) { %>
       <tr>
         <td><a href="/brands/<%= wine.brand._id %>/show"><%= wine.brand.name %>></a></td>
         <td><%= wine.wineType %></td>
         <td><%= wine.aBV %></td>
         <td><%= wine.variety %></td>
         <td><%= wine.year %></td>
         <td><a href="/wines/<%= wine._id %>">Wine Details</a></td>
       </tr>
       <% }); %>
   </tbody>
   <style>
    body {
      background-image: url("/images/Full-Wine-List.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: contain;
      background-position: center bottom;
    }
  </style>
 </table>

 <%- include('../partials/footer') %>