<section id="show-page">
    <div>Brand: </div>
        <div><%= wine.brand %></div>
    <div>Wine Type: </div>
        <div><%= wine.wineType %></div>
    <div>Alcohol By Volume: </div>
        <div><%= wine.aBV %></div>
    <div>Variety: </div>
        <div><%= wine.variety %></div>
    <div>Year: </div>
        <div><%= wine.year %></div>
</section>