<%- include('../partials/header') %>

<section id="brand-show-page"> <div id="bShowTitle">
    <table class="bTHead">
        <thead>
            <th class="bTHead">
            Brand: <%= brand.name %>
            </th>
        </thead>
    </table>
    </div>
    <table>
        <tbody>
            <div id="bShowtable">
               <tr>
                 <td><% wines.forEach(function (wine) { %>
                    <table>
                        <thead>
                          <tr>
                            <th>Type</th>
                            <th>Alcohol By Volume</th>
                            <th>Variety</th>
                            <th>Year</th>
                          </tr>
                        </thead>
                        <tbody>
                               <tr>
                                 <td><%= wine.wineType %></td>
                                 <td><%= wine.aBV %></td>
                                 <td><%= wine.variety %></td>
                                 <td><%= wine.year %></td>
                               </tr>
                        </tbody>
                    </div>
                    </table>
                </td>
                <% }) %>
               </tr>
        </tbody>
    </table>
</section>

<style>
    body {
      background-image: url("/images/Brand-Show.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: contain;
      background-position: center bottom;
    }
  </style>

<%- include('../partials/footer') %>